<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  Bienvenido a mi Lista de Familiares:
  {% for familia in familiares %}
  <p> Mi familiar es: {{ familia.tipo_familiar }} </p>
  <p> Mi familiar se llama: {{familia.nombre}}</p>
  <p> Mi familiar cumple los años el dia: {{ familia.fecha_nacimiento}} </p>
  <p> Mi familiar pesa: {{ familia.peso_kg }} </p>
  {% endfor %}


</body>
</html>

